<i class="fa-solid fa-house"></i>    acceuil

<i class="fa-solid fa-magnifying-glass"></i>  rechercher

<i class="fa-solid fa-phone"></i> telephone

<i class="fa-solid fa-cart-shopping"></i>    panier

<i class="fa-light fa-heart"></i> favorir

<i class="fa-solid fa-globe"></i> langue

<i class="fa-solid fa-location-dot"></i>  location

<i class="fa-solid fa-xmark"></i> menu ferme

<i class="fa-solid fa-car"></i>  voiture


<i class="fa-solid fa-trash"></i>  supprimer


<i class="fa-solid fa-bed-front"></i> lit